@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer utilities {
  .heading {
    @apply text-[64px] font-extrabold uppercase bg-black text-white sm:text-[40px] md:text-[50px];
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.startup-card {
  @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
}

.startup-card_date {
  @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
}

.startup-card_desc {
  @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
}

.startup-card_img {
  @apply w-full h-[164px] rounded-[10px] object-cover;
}

.startup-card_btn {
  @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3 !important;
}

.startup-card_skeleton {
  @apply w-full h-96 rounded-[22px] bg-zinc-400;
}
.card_grid {
  @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
}

.card_grid-sm {
  @apply grid sm:grid-cols-2 gap-5;
}
